@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast--error {
  font-size: 18px;
  font-weight: 100;
}

li {
  max-width: 25rem;
}

#email {
  border: 1px solid black;
  border-radius: 2rem;
  font-family: inherit;
  font-size: 1rem;
  margin-top: 0.75rem;
  margin-bottom: 2rem;
  padding: 0.25rem 1.75rem;
}
