@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  max-width: 25rem;
}

#email {
  border: 1px solid black;
  border-radius: 2rem;
  font-family: inherit;
  font-size: 1rem;
  margin: 0.75rem;
  padding: 0.25rem 1.75rem;
}
